@charset "UTF-8";
ul {
  text-decoration: none; }

li {
  text-decoration-style: none;
  list-style-type: none; }

a {
  text-decoration: none; }

.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Raleway;
  font-size: 25px;
  color: gray;
  list-style-type: none;
  text-decoration: none;
  border-radius: 25px; }

/* Navigation links */
.navbar a {
  float: left;
  font-size: 25px;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: raleway;
  border-radius: 25px; }

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
  font-family: raleway;
  color: white;
  border-radius: 25px; }

/* Subnav button */
.subnav .subnavbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: white;
  font-family: raleway;
  margin: 0;
  border-radius: 25px; }

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #058CFF;
  color: white;
  border-radius: 25px; }

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 135px;
  background-color: #058CFF;
  z-index: 1;
  text-align: center;
  color: white;
  border-radius: 25px; }

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  font-family: raleway;
  font-size: 15px;
  border-radius: 25px; }

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #FA1CA4;
  color: white;
  border-radius: 25px; }

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
  color: white;
  border-radius: 25px; }

* {
  box-sizing: border-box; }

p {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  display: block;
  width: 100%;
  padding: 1%;
  color: gray; }

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  color: #058cff;
  display: block;
  width: 100%;
  padding: 10%;
  text-align: left; }

.contenedor_header {
  display: grid;
  height: 500px;
  grid-template-columns: 12fr;
  grid-template-rows: 400px 50px 50px;
  position: relative; }

.contenedor_footer {
  display: grid;
  height: 500px;
  grid-template-columns: 12fr;
  grid-template-rows: 50px 50px 400px;
  position: relative; }

.background_azul {
  padding: 10px;
  background-color: #058cff;
  position: relative; }

.background_rosa {
  background-color: #fa1ca4;
  padding: 10px; }

.background_amarillo {
  background-color: #f3e80f;
  padding: 10px; }

.contenedor_logo {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "logo" "slogan" "redes";
  column-gap: 1px;
  position: absolute; }

.logo img {
  width: 80%;
  grid-area: "logo"; }

.slogan {
  width: 20%;
  padding-top: 180px;
  text-align: center;
  font-family: 'motserrat';
  color: white;
  font-size: 50px;
  grid-area: "slogan"; }

.redes {
  padding: 200px;
  grid-area: "redes"; }

/*media header*/
@media (max-width: 768px) {
  .contenedor_logo {
    grid-template-columns: auto;
    grid-auto-rows: 3;
    grid-template-areas: "logo" "slogan" "redes"; }
  .logo img {
    width: 80%; }
  .slogan {
    width: 10%;
    padding-top: 10px;
    font-size: 30px; } }

/*novedades*/
.container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto auto;
  grid-template-areas: "uno dos" "tres cuatro" "cinco seis";
  text-align: center;
  padding: 10px; }

.box1 {
  grid-area: "uno"; }

.box2 {
  grid-area: "dos"; }

.box3 {
  grid-area: "tres"; }

.box4 {
  grid-area: "cuatro"; }

.box5 {
  grid-area: "cinco"; }

.box6 {
  grid-area: "seis"; }

/*media novedades*/
@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: 6, 200px;
    grid-template-columns: 500px;
    grid-template-areas: "uno" "dos" "cuatro" "tres" "cinco" "seis";
    padding: 5px; } }

​
.button {
  background-color: white;
  border: none;
  color: gray;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px; }

.button1 {
  background-color: white;
  color: gray;
  border: 2px solid #fa1ca4; }

.button1:hover {
  background-color: #f3e80f;
  color: white; }
